<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="box">
        <div class="inner">
            <span>Education</span>
        </div>
        <div class="inner">
            <span>Education</span>
        </div>
    </div>
    <div class="page-container">
        <div class="page-content-container">

            <!-- BARS -->
            <div class="bar-container box">

                <span class="progressbar progresslightblue" id="progress-highschool">
                    <div class="mainStyle">
                        Highschool Driehoek
                        <div class="innerText">
                            <div>
                                <i class="material-icons iconColor">
                                    room
                                </i>Vanderbijlpark, Gauteng
                            </div>
                            <div>
                                <i class="material-icons iconColor">
                                    star
                                </i>National Senior Certificate (NSC)
                            </div>
                            <div>
                                <i class="material-icons iconColor">
                                    calendar_today
                                </i>Jan. 2013 - Dec. 2017
                            </div>
                            <div>
                                <i class="material-icons iconColor">
                                    fact_check
                                </i><a href="https://drive.google.com/file/d/12xHc2djT2I_r_19uF8nfOI43cf9w8xXe/view?usp=sharing">MATRIC RESULTS</a>
                            </div>
                        </div>
                    </div>
                    
                </span>
            </div>

            <div class="bar-container box">
                <span class="progressbar progressblue" id="progress-uni">
                    <div class="mainStyle2">
                        North-West University
                        <div class="innerText2">
                            <div>
                                <i class="material-icons iconColor2">
                                    room
                                </i>Potchefstroom
                            </div>
                            <div>
                                <i class="material-icons iconColor2">
                                    star
                                </i>Undergraduate in B.Sc. Information Technology (I.T.)
                            </div>
                            <div>
                                <i class="material-icons iconColor">
                                    calendar_today
                                </i>Jan. 2018 - Present
                            </div>
                            <div>
                                <i class="material-icons iconColor">
                                    fact_check
                                </i><a href="https://drive.google.com/file/d/1O48mwmSzdnaivfSqI4GreCCGWwJtSdp7/view?usp=sharing">UNIVERSITY RESULTS</a>
                            </div>
                        </div>
                   </div>
                </span>
            </div>
        </div>
    </div>

</body>

</html>