<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div class="box">
        <div class="inner">
            <span>References</span>
        </div>
        <div class="inner">
            <span>References</span>
        </div>
    </div>
    <div class="box_item" data-place="@Airvantage" data-tel1="Tel 1: +270111001880" data-tel2="Tel 2: +270623108833" data-mail="Email: liam@airvantage.co.za">
        Dr. Liam Terblanche (CTO) <br> (Hover Over)
    </div>
    <div class="box_item2" data-place="@NWU Potchefstroom" data-mail="Email: dirk.snyman@nwu.ac.za" data-achiev1="M.A." data-achiev2="B.A." data-achiev3="Taal-tegnologie met Rekenaarwetenskap">
        Mr. Dirk Snyman (Lecturer) <br> (Hover Over)
    </div>
</body>

</html>