* {
    margin: 0;
    padding: 0;
}

.box_item {
    width: 37%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(140, 107, 216, 0.9);
    padding: 10px;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    font-weight: 650;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: translate(0%, 0%);
    transform: translate(30%, 0%);
}

.box_item2 {
    width: 40%;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(140, 107, 216, 0.9);
    padding: 10px;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    font-weight: 650;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(120%, 27%);
}

.box_item:hover,
.box_item2:hover {
    font-size: 0;
    background-color: rgba(160, 79, 192, 0.603);
    color: rgb(255, 255, 255);
}

.box_item:hover::after {
    content: attr(data-place) '\A' attr(data-tel1) '\A' attr(data-tel2)'\A'attr(data-mail);
}

.box_item2:hover::after {
    content: attr(data-place)'\A'attr(data-achiev1)',\A'attr(data-achiev2)'\A'attr(data-achiev3);
}

.box_item:hover::after,
.box_item2:hover::after {
    font-size: 50px;
    line-height: 50px;
    font-weight: 90;
    align-items: center;
    justify-content: center;
}