<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <!-- <div id="wrapper">
        <div id="front1">
            <p>Dr. Liam Terblanche</p>
            <div id="back1">
                <ul>
                    <li>
                        @Airvantage
                    </li>
                    <li>
                        Tel1:+270111001880
                    </li>
                    <li>
                        Tel2:+270623108833
                    </li>
                    <li>
                        Email: liam@ airvantage.co.za
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
    <!-- @Airvantage &#10; Tel1:+270111001880 &#013;&#10;&#10;Tel2:+270623108833&#013; Email: liam@airvantage.co.za -->
    <!-- @NWU Potchefstroom  Email: dirk.snyman@nwu.ac.za M.A.; B.A. Taal - tegnologie met Rekenaarwetenskap -->
    <div class="box_item" data-place="@Airvantage" data-tel1="Tel1:+270111001880" data-tel2="Tel2:+270623108833" data-mail="Email: liam@airvantage.co.za">
        Dr. Liam Terblanche (CTO) <br> (Hover Over)
    </div>
    <div class="box_item2" data-place="@NWU Potchefstroom" data-mail="Email: dirk.snyman@nwu.ac.za" data-achiev1="M.A." data-achiev2="B.A." data-achiev3="Taal-tegnologie met Rekenaarwetenskap">
        Mr. Dirk Snyman (Lecturer) <br> (Hover Over)
    </div>
</body>

</html>