<body>


    <ul class="skills-bar-container">
        <div class="box">
            <div class="inner">
                <span>Skills</span>
            </div>
            <div class="inner">
                <span>Skills</span>
            </div>
        </div>
        <li>
            <div class="progressbar-title">
                <h3>C#</h3>
                <span class="percent" id="csharp-pourcent"></span>
            </div>
            <div class="bar-container">
                <span class="progressbar progresslightblue" id="progress-csharp"></span>
            </div>
        </li>

        <li>
            <div class="progressbar-title">
                <h3>JAVA</h3>
                <span class="percent" id="java-pourcent"></span>
            </div>
            <div class="bar-container">
                <span class="progressbar progressblue" id="progress-java"></span>
            </div>
        </li>

        <li>
            <div class="progressbar-title">
                <h3>Delphi</h3>
                <span class="percent" id="delphi-pourcent"></span>
            </div>
            <div class="bar-container">
                <span class="progressbar progresslightblue" id="progress-delphi"></span>
            </div>
        </li>

        <li>
            <div class="progressbar-title">
                <h3>CSS / SASS</h3>
                <span class="percent" id="css-pourcent"></span>
            </div>
            <div class="bar-container">
                <span class="progressbar progressblue" id="progress-css"></span>
            </div>
        </li>

        <li>
            <div class="progressbar-title">
                <h3>JavaScript</h3>
                <span class="percent" id="javascript-pourcent"></span>
            </div>
            <div class="bar-container">
                <span class="progressbar progresslightblue" id="progress-javascript"></span>
            </div>
        </li>

        <li>
            <div class="progressbar-title">
                <h3>HTML</h3>
                <span class="percent" id="html-pourcent"></span>
            </div>
            <div class="bar-container">
                <span class="progressbar progressblue" id="progress-html"></span>
            </div>
        </li>

        <li>
            <div class="progressbar-title">
                <h3>C++</h3>
                <span class="percent" id="C++-pourcent"></span>
            </div>
            <div class="bar-container">
                <span class="progressbar progresslightblue" id="progress-php"></span>
            </div>
        </li>

        <li>
            <div class="progressbar-title">
                <h3>AngularJS</h3>
                <span class="percent" id="angular-pourcent"></span>
            </div>
            <div class="bar-container">
                <span class="progressbar progressblue" id="progress-angular"></span>
            </div>
        </li>
    </ul>

</body>