@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.skills-bar-container {
    position: relative;
    width: 40%;
    min-width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
}

li {
    position: relative;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
}

.bar-container {
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: 5px;
    display: flex;
}

.progressbar-title {
    color: rgb(200, 122, 231);
}

h3 {
    display: inline-block;
}

.percent {
    position: absolute;
    right: 100%;
}

#progress-html {
    -webkit-animation-name: progress-html;
    animation-name: progress-html;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

#progress-css {
    -webkit-animation-name: progress-css;
    animation-name: progress-css;
    -webkit-animation-delay: 1s*2;
    animation-delay: 1s*2;
}

#progress-javascript {
    -webkit-animation-name: progress-javascript;
    animation-name: progress-javascript;
    -webkit-animation-delay: 1s*3;
    animation-delay: 1s*3;
}

#progress-php {
    -webkit-animation-name: progress-php;
    animation-name: progress-php;
    -webkit-animation-delay: 1s*4;
    animation-delay: 1s*4;
}

#progress-angular {
    -webkit-animation-name: progress-angular;
    animation-name: progress-angular;
    -webkit-animation-delay: 1s*5;
    animation-delay: 1s*5;
}

.progressbar {
    position: absolute;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.progressred {
    background-color: red;
}

.progressblue {
    background-color: blue;
}

.progresspurple {
    background-color: purple;
}

.progressorange {
    background-color: orange;
}

.progressgreen {
    background-color: green;
}

@-webkit-keyframes progress-html {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes progress-css {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@-webkit-keyframes progress-javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@-webkit-keyframes progress-php {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}

@-webkit-keyframes progress-angular {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@-moz-keyframes progress-html {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes progress-css {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@-moz-keyframes progress-javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@-moz-keyframes progress-php {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}

@-moz-keyframes progress-angular {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@keyframes progress-html {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes progress-css {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes progress-javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes progress-php {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}

@keyframes progress-angular {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}