<div class="page-container">
    <div class="sidebar">

        <div class="list-items">
            <a routerLink="/me" routerLinkActive="selected" class="changecolor list-item">
                <i class="material-icons">
                    bookmark
                </i> Test item
            </a>
            <a routerLink="/hobbies" routerLinkActive="selected" class="changecolor list-item">
                <i class="material-icons">
                    bookmark
                </i>Test item
            </a>
            <a routerLink="/skills" routerLinkActive="selected" class="changecolor list-item">
                <i class="material-icons">
                    bookmark
                </i>Test item
            </a>
        </div>

    </div>
    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>
</div>