<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="page-container">
        <div class="sidebar">
            <img src="../../assets/me.jpg" class="profile-picture">
            <div class="list-items">
                <a routerLink="/me" routerLinkActive="selected" class="list-item">
                    <i class="material-icons">
                        bookmark
                    </i>Hi There!
                </a>
                <a routerLink="/hobbies" routerLinkActive="selected" class="list-item">
                    <i class="material-icons">
                        bookmark
                    </i>Hobbies
                </a>
                <a routerLink="/skills" routerLinkActive="selected" class="list-item">
                    <i class="material-icons">
                        bookmark
                    </i>Skills
                </a>
                <a routerLink="/personalInfo" routerLinkActive="selected" class="list-item">
                    <i class="material-icons">
                        bookmark
                    </i>Achievements ('13-'20)
                </a>
            </div>

        </div>

        <div class="page-content-container">

            <router-outlet></router-outlet>



        </div>
        <app-shared></app-shared>


    </div>
</body>

</html>