body {
    margin: 0;
    padding: 0;
}

section {
    animation: none;
}

section .wave {
    position: absolute;
    width: 100vw;
    height: 80px;
    bottom: 0px;
    left: 0;
    background: url(../../assets/wave1.png);
    animation: animate 10s linear infinite;
}

section .wave::before {
    content: '';
    width: 100vw;
    height: 80px;
    background: url(../../assets/wave1.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    animation-delay: -5s;
    animation: animate 20s linear infinite;
}

section .wave::after {
    content: '';
    width: 100vw;
    height: 80px;
    background: url(../../assets/wave1.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1920px;
    }
}

@keyframes animate-reverse {
    0% {
        background-position: 1920px;
    }
    100% {
        background-position: 0;
    }
}