<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div class="container">
        <div class="line line-1">
            <div class="wave wave1" style="background-image: url(../../assets/wave1.png);"></div>
        </div>
        <div class="line line-2">
            <div class="wave wave2" style="background-image: url(../../assets/wave2.png);"></div>
        </div>
        <div class="line line-3">
            <div class="wave wave3" style="background-image: url(../../assets/wave3.png);"></div>
        </div>
    </div>
</body>

</html>