<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <app-wave-girl></app-wave-girl>

        <a routerLink="/hobbies" routerLinkActive="selected" class="list-item">
            <i class="material-icons">
                    person_search
                </i>&nbsp; HI THERE. GET TO KNOW ME. &nbsp;
            <i class="material-icons">
                    person_search
                </i>
        </a>

    </div>
</body>

</html>