<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div class="box">
        <div class="inner">
            <span>Contact</span>
        </div>
        <div class="inner">
            <span>Contact</span>
        </div>
    </div>
    <script src="./contact-info.js"></script>
    <script>
        "SplitText makes it easy to break apart the text in an HTML element so that each character, word, and/or line is wrapped in its own div tag."
    </script>


    <button id="animate">animate</button>
</body>

</html>