<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div class="box">
        <div class="inner">
            <span>Contact Details</span>
        </div>
        <div class="inner">
            <span>Contact Details</span>
        </div>
    </div>
    <!--  -->
    <div class="itemContact">
        <div class="box_item" data-field="catherina.ackerman@gmail.com">
            Email
        </div>
    </div>
    <div class="itemContact">
        <div class="box_item2" data-field="+27 63 559 8026">
            Cell Number
        </div>
    </div>
    <div class="itemContact">
        <div class="box_item3" data-field="14 Sammy Marks Street">
            Street Address
        </div>
    </div>
    <div class="itemContact">
        <div class="box_item4" data-field="Vanderbijlpark, Gauteng">
            Located
        </div>
    </div>
    <div class="itemContact">
        <div class="box_item5">
            <a href="https://www.linkedin.com/in/cathryn-ackerman-7b79281a2/">LinkedIn</a>
        </div>
    </div>



</body>

</html>