<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>
    <div class="box">
        <div class="inner">
            <span>Achievements</span>
        </div>
        <div class="inner">
            <span>Achievements</span>
        </div>
    </div>
    <div class="page-container inBoxing">

        <div class="page-content-container">

            <div class="flex-center flex-column">

                <div class="mainStyle">
                    <owl-carousel-o [options]="customOptions" class="drag">
                        <ng-template carouselSlide>2013<br>
                            <div class="innerText">
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Broke swimming records at Hoërskool Driehoek.
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>2014<br>
                            <div class="innerText">
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Team captain for Team B Hockey.
                                </div>
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Won Puk-League for B-Teams Hockey.
                                </div>
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Broke swimming records at Hoërskool Driehoek.
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>2016<br>
                            <div class="innerText">
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Broke swimming records at Hoërskool Driehoek.
                                </div>
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Part of 1st Hockey team at Hoërskool Driehoek.
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>2017<br>
                            <div class="innerText">
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Matrix Board 2017 Hoërskool Driehoek.
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>2018<br>
                            <div class="innerText">
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Won hostel league for B Teams (Kasteel Ladies Resedince - NWU Potchefstroom).
                                </div>
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Sub-Committee Prac-RAG (JOOL) 2018/2019.
                                </div>
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Sub-Committee Scientiae 2018/2019.
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>2019<br>
                            <div class="innerText">
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Sub-Committee Prac-RAG (JOOL) 2018/2019.
                                </div>
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Sub-Committee Scientiae 2018/2019.
                                </div>
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Sub-Committee MPR (Marketing and Public Relations) 2019/2020.
                                </div>
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Assistant for university module CMPG 121 (Structured Programming).
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>2020<br>
                            <div class="innerText">
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Sub-Committee MPR (Marketing and Public Relations) 2019/2020.
                                </div>
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Assistant for university module CMPG 122 (User Interface Programming).
                                </div>
                                <div>
                                    <i class="material-icons iconColor">
                                        star
                                    </i>Assistant for university module CMPG 221 (Data Structures and Algorithms).
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>

</body>



</html>