<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="box">
        <div class="inner">
            <span>Personal</span>
        </div>
        <div class="inner">
            <span>Personal</span>
        </div>
    </div>
    <div class="content">

        <div class="card">
            <div class="firstinfo">
                <div class="profileinfo1">
                    <h1>Catherina (Cathryn) Ackerman</h1>
                    <h3>I.T. Enthusiast</h3>
                    <p class="bio">Enthusiastic and driven undergraduate studying B.Sc. Information Technology at the NWU in Potchefstroom. Currently looking for an employment opportunity to utilise my I.T. development skills and I.T. knowledge.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div> <span class="devicons devicons-django"></span><span class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span class="devicons devicons-javascript_badge"></span><span class="devicons devicons-gulp"></span>
            <span class="devicons devicons-angular"></span>
            <span class="devicons devicons-sass"> </span>
        </div>
        <div class="card">
            <div class="firstinfo">
                <div class="profileinfoS">
                    <h1>STRENGTHS</h1>
                    <div class="innerText">
                        <div>
                            <i class="material-icons iconColorS">
                                    star
                            </i>Hard-Working
                        </div>
                        <div>
                            <i class="material-icons iconColorS">
                                    star
                            </i>Loyal
                        </div>
                        <div>
                            <i class="material-icons iconColorS">
                                    star
                            </i>Persistant
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="firstinfo">
                <div class="profileinfoW">
                    <h1>WEAKNESSES</h1>
                    <div class="innerText">
                        <div>
                            <i class="material-icons iconColorW">
                                    star
                            </i>Stubborn
                        </div>
                        <div>
                            <i class="material-icons iconColorW">
                                    star
                            </i>Impatient
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



</html>