* {
    margin: auto;
    box-sizing: border-box;
}

body,
html {
    padding-top: 20px;
    height: 200px;
    width: 170px;
}

html {
    padding-top: 0;
}

#Back {
    animation: back 1s linear infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes back {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-15.5px);
    }
}

#Front {
    animation: front 1s linear infinite alternate;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes front {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(15.5px);
    }
}